<div class="row">
<div class="col-mod-3">
Task No <%= @task.id %>
</div>

<div class="col-mod-3">
Name <%= @task.name %>
</div>

<div class="col-mod-3">
Description <%= @task.description %>
</div>

<div class="col-mod-3">
TimeRequired <%= @task.time_required %>
</div>

<div class="col-mod-3">
Status<%= @task.status %>
</div>


<div class="col-mod-3">
CompletionDate <%= @task.completion_date %>
</div>

</div>

